<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>API Rest con vistas XILFTEN Movies</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Movie API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Index
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/update">Update</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>API REST XILTEN Movies</h1>
<hr>
<h3>Get all Movies</h3>
<p>Para obtener todas las películas usa la url
    http://localhost:8080/movies </p>
<h3>Get Movie by id</h3>
<p>Para obtener una película por id usa la url
    http://localhost:8080/movies/{id} </p>

<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>